@media (max-width: 715px) {

    header {
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;

        .header-info {
            text-align: center;
            width: 100vw;
            font-size: 1.2rem;

            h1, h2 {
                margin: 0px;
            }

            h1 {
                font-size: 2.2rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            h3 {
                padding-top: 1rem;
                font-size: 1rem;
                margin: 0;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                img {
                    
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }

            .header-socials {
                padding-top: 1rem;
                margin: 0rem 2rem;
                
            }
    
        }
        .header-certs {
            width: 100%;

            img {
                padding: 1rem;
                width: 60px;
                height: 60px;
            }
        }
    }
}