@media (max-width: 1400px) {

    #main-banner {
        margin: 0 5%;
    }
}

@media (max-width: 1000px) {

    #main-banner {
        margin: 0 5%;

        .skills-container {
        grid-template-areas:
        "skill-one skill-two"
        "skill-three skill-four"
        "skill-five skill-six"
        }
    }

    #blogs-banner {
        margin: 0rem 5%;
    }
}
@media (max-width: 715px) {

    header {
        height: 100vh;
        flex-direction: column;
        justify-content: space-around;

        .header-info {
            text-align: center;
            width: 100vw;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1, h2 {
                padding: 0rem 1rem;
                margin: 0px;
            }

            h1 {
                font-size: 2.2rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            h3 {
                padding-top: 1rem;
                font-size: 1rem;
                margin: 0;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                span {
                    padding: 0rem 0.2rem 0rem 0rem;
                }

                img {
                    
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }

            .header-socials {
                padding-top: 1rem;
                margin: 0rem 2rem;
                
            }
    
        }
        .header-certs {
            width: 100%;

            img {
                padding: 1rem;
                width: 60px;
                height: 60px;
            }
        }
    }

    #main-banner {
        margin: 0 5%;

        .skills-container {
        grid-template-areas:
        "skill-one"
        "skill-two"
        "skill-three"
        "skill-four"
        "skill-five"
        "skill-six"
        }
    }

    #tools-banner {

        margin: 0rem 20%;
        height: fit-content;
    
        h1 {
            font-size: 1.8rem;
        }
    
        .tools-container {
            margin: 2rem 0rem;
            padding: 0rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                padding: 5px;
                width: 60px;
            }
        }
    }

    #blogs-banner {
        .blog-container {
            margin-top: 2rem;
            flex-direction: column-reverse;

            .blog-unit {
                justify-content: center;
                align-items: center;
                margin-top: 0.5rem;
                width: 90%;
            }

            .blog-tags {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    margin: 5px;
                }
            }
        }
    }
}