* {
  margin: 0;
  padding: 0;
  font-family: "Hedvig Letters Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
}

header {
  background-color: white;
  animation: fadeIn 1s;
  height: 87vh;
  color: black;
  display: flex;
  align-items: center;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .header-info {
  width: 70%;
}
header .header-info #blinking-phrase {
  display: inline-block;
  animation: blink 0.1s infinite;
}
header .header-info h1, header .header-info h2 {
  margin: 0 10rem;
}
header .header-info h1 {
  font-size: 5.5rem;
}
header .header-info h2 {
  font-family: monospace;
  font-size: 2.5rem;
  color: rgb(49, 49, 49);
}
header .header-info h3 {
  margin: 1rem 0rem 0rem 10rem;
  display: flex;
  align-items: center;
  font-size: 1.9rem;
}
header .header-info h3 span {
  color: yellowgreen;
  padding: 0rem 1rem 0rem 0.2rem;
}
header .header-info h3 img {
  margin: 0 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}
header .header-info h3 a {
  padding-left: 0.3rem;
}
header .header-info h4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0rem 0rem 10rem;
}
header .header-info h4 span {
  padding-right: 0.5rem;
  color: green;
}
header .header-info h4 img {
  width: 40px;
  height: 40px;
}
header .header-info h4 a {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
}
header .header-info .header-socials {
  padding-left: 0.5rem;
  margin: 2rem 10rem;
  display: flex;
  align-items: center;
}
header .header-info .header-socials a {
  padding: 0rem 0.5rem;
}
header .header-info .header-socials #linkedin-link {
  color: rgb(38, 214, 185);
}
header .header-info .header-socials #git-link {
  color: rgb(0, 0, 0);
  padding-right: 1rem;
}
header .header-info .header-socials i {
  font-size: 2.4rem;
}
header .header-info #nightmode-btn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  position: absolute;
  top: 1rem;
  right: 2rem;
  border-radius: 5px;
}
header .header-info #nightmode-btn i {
  font-size: 1.1rem;
  padding: 0.8rem;
}
header .header-certs {
  padding-top: 1rem;
  width: 30%;
  text-align: center;
}
header .header-certs img {
  padding: 2rem;
  width: 100px;
  height: 100px;
}

#main-banner {
  margin: 0rem 20%;
}
#main-banner h1 {
  font-size: 1.8rem;
}
#main-banner .skills-container {
  padding: 0 5%;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template: auto;
  grid-template-areas: "skill-one skill-two skill-three" "skill-four skill-five skill-six";
}
#main-banner .skills-container #skill-one {
  grid-area: skill-one;
}
#main-banner .skills-container #skill-two {
  grid-area: skill-two;
}
#main-banner .skills-container #skill-three {
  grid-area: skill-three;
}
#main-banner .skills-container #skill-four {
  grid-area: skill-four;
}
#main-banner .skills-container #skill-five {
  grid-area: skill-five;
}
#main-banner .skills-container #skill-six {
  grid-area: skill-six;
}
#main-banner .skills-container .skill-unit {
  height: 15rem;
  display: flex;
  margin: 1.5rem 2rem;
  border-top: 3px orange solid;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}
#main-banner .skills-container .skill-unit h1 {
  padding: 0.5rem 1rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem 0rem;
  width: 100%;
  color: white;
  background-color: rgb(26, 26, 26);
}/*# sourceMappingURL=style.css.map */