* {
    // Reset
    margin: 0;
    padding: 0;
    font-family: 'Hedvig Letters Sans', sans-serif;
}

a {
    text-decoration: none;
}
body {
    background-color: white;
}


// * 1 - Header

header {
    background-color: white;
    animation: fadeIn 1s;
    height: 87vh;
    color: black;
    display: flex;
    align-items: center;

    @keyframes fadeIn {
        0% { opacity: 0;}
        100% { opacity: 1;}
    }

    .header-info {
        width: 70%;

        #blinking-phrase {
            display: inline-block;
            animation: blink 0.1s infinite;
        }

        h1 , h2 {
            margin: 0 10rem;
        }

        h1 {
            font-size: 5.5rem;
        }

        h2 {
            font-family: monospace;
            font-size: 2.5rem;
            color: rgb(49, 49, 49);
        }
        h3 {
            margin: 1rem 0rem 0rem 10rem;
            display: flex;
            align-items: center;
            font-size: 1.9rem;

            span {
                color: yellowgreen;
                padding: 0rem 1rem 0rem 0.2rem;
            }

            img {
                margin: 0 0.5rem;
                width: 40px;
                height: 40px;
                border-radius: 15px;
            }

            a {
                padding-left: 0.3rem;
            }
        }

        h4 {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin: 1rem 0rem 0rem 10rem;

            span {
                padding-right: 0.5rem;
                color: green;
            }

            img {
                width: 40px;
                height: 40px;
                
            }

            a {
                margin-left: 0.5rem;
                margin-bottom: 1.5rem;
            }
        }

        .header-socials {
            padding-left: 0.5rem;
            margin: 2rem 10rem;
            display: flex;
            align-items: center;
            
            a {
                padding: 0rem 0.5rem;
            }
            #linkedin-link {
                color: rgb(38, 214, 185);
            }

            #git-link {
                color: rgb(0, 0, 0);
                padding-right: 1rem;
            }

            i {
                font-size: 2.4rem;
            }

        }

        #nightmode-btn {
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
            border: 2px solid;
            position: absolute;
            top: 1rem;
            right: 2rem;
            border-radius: 5px;
        
            i {
                font-size: 1.1rem;
                padding: 0.8rem;
            }
        }
    }

    .header-certs {
        padding-top: 1rem;
        width: 30%;
        text-align: center;

        img {
            padding: 2rem;
            width: 100px;
            height: 100px;
        }
    }
}

// Short Description
#main-banner {
    margin: 0rem 20%;

    h1 {
        font-size: 1.8rem;
    }

    .skills-container {
        padding: 0 5%;
        padding-top: 2rem;
        display: grid;
        grid-template-columns: auto;
        grid-template: auto;
        grid-template-areas:
        "skill-one skill-two skill-three"
        "skill-four skill-five skill-six";

        #skill-one {
            grid-area: skill-one;
        }

        #skill-two {
            grid-area: skill-two;
        }

        #skill-three {
            grid-area: skill-three;
        }

        #skill-four {
            grid-area: skill-four;
        }

        #skill-five {
            grid-area: skill-five;
        }

        #skill-six {
            grid-area: skill-six;
        }

        .skill-unit {
            height: 15rem;
            display: flex;
            flex-direction: column;
            margin: 1.5rem 2rem;
            border-top: 3px orange solid;
            border-radius: 5px;
            background-color: rgb(248, 248, 248);
            justify-content: space-around;

            h1, p {
                padding: 0.5rem 1rem;
            }
        }
    }
}



// Footer

footer {
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 0rem;
    width: 100%;
    color: white;
    background-color: rgb(26, 26, 26);
}